* {
    box-sizing: border-box;
}

html {
    background: white;
}

body {
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Helvetica Neue,
        Arial,
        sans-serif;
    font-size: 18px;
    line-height: 1.6;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
