.Excel table {
    width: 100%;
    border: 1px solid #000;
}

.Excel td {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
}

.Excel th {
    color: #000;
    cursor: pointer;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}

.Excel .ExcelNotSortable {
    cursor: default;
}

.Excel .ExcelEditable {
    cursor: cell;
}

.Excel .ExcelEditable:hover {
    background: #fbfbfb;
}

.Excel .ExcelDataCenter {
    text-align: center;
}

.Excel .ExcelDataLeft {
    padding: 0 10px;
    text-align: left;
}

.Excel .ExcelDataRight {
    text-align: right;
}
